@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	
}
body {
	background: #f0f0f0;
}
#container {
	box-sizing: border-box;
	width: 1255px;
	height: 300px;
	margin: 200px auto;
	background: #fff;
}
#container > .slide {
	position: relative;
	float: left;
	width: 200px;
	height: 100%;
	overflow: hidden;
	transition: all .6s;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-o-transition: all .6s;
	border-right: 1px solid #d5d5d5;
}
#container > .slide .before {
	position: relative;
	width: 200px;
	height: 100%;
	z-index: 200;
	background: #fff;
}

#container > .slide .after {
	position: absolute;
	right: 0;
	top: 0;
	width: 250px;
	height: 100%;
	
	z-index: 100;
}
#container > .slide.on {
	width: 450px;
}
#container > .slide.on .before{
	background: #0876c2;
}

#container > .slide > .before .bg_active,
#container > .slide > .before .bg_dis {
	position: absolute;
	left: 65px;
	top: 70px;
	width: 74px;
	height: 74px;
	border-radius: 50%;
	background: url("images/icon.png") no-repeat center;
	background-position: -148px 0;
	transition: all .6s;
}

#container > .slide > .before .head_dis,
#container > .slide > .before .head_active {
	position: relative;
	top: 160px;
	left: 81px;
	color: aliceblue;
}
#container > .slide > .before .text_active,
#container > .slide > .before .text_dis { 
	position: relative;
	top: 190px;
	left: 51px;
	width: 100px;
	height: 70px;
	border-top: 1px solid white;
	text-align: center;
	padding-top: 10px;
	color: aliceblue;
	font-size: 12px;
}
#container > .slide > .before .text_dis,
#container > .slide > .before .head_dis {
	color: #666666;
}
#container > .slide > .before .text_dis {
	border-top: 1px solid #666666;
}
#container > .slide > .before .bg_dis {
	background-position: 0px 0;
}
#container > .slide > .before .bg_dis.bg_active {
	background-position: -148px 0
}
#container > .slide > .before .text_dis.text_active {
	color: aliceblue;
	border-top: 1px solid white;
}
#container > .slide > .before .head_dis.head_active {
	color: aliceblue;
}